<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hgg</title>
</head>
<body>
<h1>Hello</h1>
  <a href="/admins_changepassword" class="nav-link">ChangePassword</a><br><br>
  <a href="/admin_verify_buissness" class="nav-link">Verify Bussiness Account</a><br><br>
  <a href="/admin_approved_buissness" class="nav-link">Verifyed Bussiness Account</a><br><br>
  <a href="/admin_add_category" class="nav-link">Add service Category</a><br><br>

<a href="/admin_view_category" class="nav-link">View service Category</a><br><br>

<a href="/admin_view_complaints" class="nav-link">View Complaint Send Reply</a><br><br>
  <a href="/admin_view_users" class="nav-link">View User Account</a><br><br>
  <a href="/admin_service_review" class="nav-link">View Review</a><br><br>
  <a href="/admin_appFeedBack" class="nav-link">View App Feedback</a><br><br>
</body>
</html>