<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hgg</title>
</head>
<body>
<h1>Hello</h1>
  <a href="/fitness_changepassword" class="nav-link">ChangePassword</a><br><br>
  <a href="/fitness_Profile" class="nav-link">Profile</a><br><br>
  <a href="/fitness_add_specialisation" class="nav-link">Add specialisation</a><br><br>
  <a href="/fit_view_specialisations" class="nav-link">View specialisation</a><br><br>
  <a href="/fitness_add_Services" class="nav-link">Add Services</a><br><br>
  <a href="/fitness_viewServices" class="nav-link">View Services</a><br><br>
  <a href="/fit_addavailability" class="nav-link">Real time Status</a><br><br>
  <a href="/fitness_viewStatus" class="nav-link"> view Real time Status</a><br><br>
  <a href="/fitness_add_facility" class="nav-link"> Add Facilities</a><br><br>
  <a href="/fitness_view_facility" class="nav-link"> view Facilities</a><br><br>
  <a href="/fitness_add_offers" class="nav-link">Offers Management</a><br><br>
  <a href="/fitness_view_offers" class="nav-link">Offers View</a><br><br>
  <a href="/view_added_SLOT" class="nav-link">Slots</a><br><br>
  <a href="/fitness_view_appointments" class="nav-link">Bookings</a><br><br>
  <a href="/fitness_view_approved" class="nav-link">Approved Bookings</a><br><br>
  <a href="/fitness_view_payments" class="nav-link">Paymentd</a><br><br>

</body>
</html>