<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hgg</title>
</head>
<body>
<h1>Hello</h1>
  <a href="/service_changepassword" class="nav-link">ChangePassword</a><br><br>
  <a href="/service_providerProfile" class="nav-link">Profile</a><br><br>
  <a href="/provider_viewCategory" class="nav-link">View Category</a><br><br>
  <a href="/provider_addServices" class="nav-link">Manage Services</a><br><br>
  <a href="/provider_viewServices" class="nav-link">View Services</a><br><br>
  <a href="/provider_addavailability" class="nav-link">Manage Realtime Availability</a><br><br>
  <a href="/provider_viewStatus" class="nav-link">View Realtime Availability</a><br><br>
  <a href="/provider_viewRequests" class="nav-link">View Booking Requests</a><br><br>
  <a href="/provider_viewApproved_Requests" class="nav-link">View Approved Requests</a><br><br>
  <a href="" class="nav-link">Chat With User</a><br><br>
  <a href="" class="nav-link">View Review Rating</a><br><br>
  <a href="" class="nav-link">Acpect based Ratings</a><br><br>
</body>
</html>