<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hgg</title>
</head>
<body>
<h1>Hello</h1>
  <a href="/shop_changepassword" class="nav-link">shop ChangePassword</a><br><br>
  <a href="/shop_Profile" class="nav-link">Profile</a><br><br>
  <a href="/shop_add_products" class="nav-link">Add Products</a><br><br>
  <a href="/shop_view_products" class="nav-link">View Products</a><br><br>
  <a href="/shop_view_offers" class="nav-link">View Product Offers</a><br><br>
  <a href="/shop_add_stock" class="nav-link">Add Stocks</a><br><br>
  <a href="/shop_view_stock" class="nav-link">view stock</a><br><br>
  <a href="/shop_view_orders" class="nav-link">view Orders</a><br><br>

</body>
</html>