<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link re>
</head>
<body>
    <h1>Login</h1>
     {% csrf_token %}
          {% if messages %}
            <div class="messages" style="text-align:center;">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <form method="post">

    {% csrf_token %}

        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>
        <a href="/BuissnessAccount_Reg">Register</a>

    </form>
</body>
</html>